body {
  line-height: 1.4;
  font-family: 'Open sans', 'helvetica', arial, sans-serif;
}

/* typography */

h1 {
  font-size: 2.4rem;
  margin: 0 0 .5rem;
  line-height: 1;
}

/* utility classes */

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* generics */

button {
  margin: 0;
  padding: .25rem 1rem;
  background: deeppink;
  color: #fff;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}

/* layout */

article {
  padding: 1.5rem;
  display: grid;
  justify-content: stretch;
  grid-template-rows: 5.5rem 1fr;
  height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
}

/* header */

header {
  display: grid;
  grid-template-columns: 1fr;
  place-content: start;
}

header nav {
  display: grid;
  width: 100%;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  place-content: center center;
}

/* sections - general */

section {
  display: grid;
  text-align: center;
}

.setup,
.result {
  justify-content: center;
  align-content: center;
}

/* section - setup */

.setup ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  place-content: center center;
  grid-gap: .5rem;
}

.setup ul li {
  cursor: pointer;
  padding: .25rem 1rem;
  background-color: deeppink;
  color: #fff;
}

/* section - tiles */

ul.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, calc(33%)));
  grid-gap: 1px;
  width: 100%;
  height: 100%;
  user-select: none;
}

.level-easy ul.tiles {
  grid-template-columns: repeat(2, minmax(50px, 50%));
}

.level-hard ul.tiles {
  grid-template-columns: repeat(4, minmax(50px, calc(25% - .25rem)));
}

.tiles li {
  display: grid;
  place-content: center;
  font-size: 2rem;
  line-height: 1.4;
  background-color: deeppink;
  position: relative;
  box-shadow: 0 0 1px rgba(0,0,0,.4);
  overflow: hidden;

  perspective: 1000px;
}

.tiles li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='55' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120%2C120 60%2C120 90%2C90 120%2C60 120%2C0 120%2C0 60%2C60 0%2C0 0%2C60 30%2C90 60%2C120 120%2C120 '/%3E%3C/svg%3E");
  box-sizing: border-box;
  background-size: 3rem;
  border: .5rem solid #fff;
}

.tiles li.matched::after {
  content: '';
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 2rem;
}

.tiles li.selected {
  background-color: #fff;
}

.tiles li.selected::before {
  display: none;
}

/* results */

p.results-text {
  margin-bottom: .5rem;
}


/* icons */

.icon {
  font-size: 5rem;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1vad8d');
  src:  url('fonts/icomoon.eot?1vad8d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1vad8d') format('truetype'),
    url('fonts/icomoon.woff?1vad8d') format('woff'),
    url('fonts/icomoon.svg?1vad8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android::before {
  content: "\e900";
  color: #a4c639;
}
.icon-angular::before {
  content: "\e901";
  color: #dd0031;
}
.icon-apple::before {
  content: "\e902";
  color: #999;
}
.icon-bower::before {
  content: "\e903";
  color: #ef5734;
}
.icon-css3::before {
  content: "\e904";
  color: #1572b6;
}
.icon-github::before {
  content: "\e907";
}
.icon-google::before {
  content: "\e908";
  color: #4285f4;
}
.icon-gulp::before {
  content: "\e909";
  color: #da4648;
}
.icon-html5::before {
  content: "\e90a";
  color: #e34f26;
}
.icon-javascript::before {
  content: "\e90b";
  color: #f7df1e;
}
.icon-npm::before {
  content: "\e90c";
  color: #cb3837;
}
.icon-sass::before {
  content: "\e90d";
  color: #c69;
}
.icon-slack::before {
  content: "\e90e";
  color: #56b68b;
}
