body {
  line-height: 1.4;
}

/* typography */

h1 {
  font-family: 'Open sans', 'helvetica', arial, sans-serif;
  font-size: 2.4rem;
  margin: .5rem 0;
}

/* utility classes */

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

/* layout */

article {
  padding: 1.5rem;
  display: grid;
  justify-content: stretch;
  grid-template-rows: 5rem 1fr;
  height: 100vh;
}

/* header */

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
}

header nav {
  display: grid;
  width: 100%;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  place-content: center center;
}

/* sections - general */

section {
  display: grid;
  text-align: center;
}

/* section - setup */

.setup {
  justify-content: center;
  align-content: center;
}

.setup ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  place-content: center center;
  grid-gap: .5rem;
}

.setup ul li {
  cursor: pointer;
  padding: .25rem 1rem;
  background-color: deeppink;
  color: #fff;
}

/* section - tiles */

ul.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 33%));
  grid-gap: 1px;
  width: 100%;
  height: 100%;
}

.level-easy ul.tiles {
  grid-template-columns: repeat(2, minmax(50px, 50%));
}

.level-hard ul.tiles {
  grid-template-columns: repeat(4, minmax(50px, 25%));
}

.tiles li {
  display: grid;
  place-content: center;
  font: 2rem/1.4 'Open sans', helvetica, sans-serif;
  background-color: deeppink;
}