body {
  line-height: 1.4;
  font-family: 'Open sans', 'helvetica', arial, sans-serif;
}

/* typography */

h1 {
  font-size: 2.4rem;
  margin: 0 0 .5rem;
  line-height: 1;
}

/* utility classes */

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/*.hide {
  display: none;
}*/

/* generics */

button {
  margin: 0;
  padding: .25rem .5rem;
  background: deeppink;
  color: #fff;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: .8rem;
}

button:hover {
  background-color: hotpink;
}

/* layout */

article {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

/* header */

header {
  height: 6.5rem;
  display: grid;
  grid-template-columns: 1fr;
  place-content: start;
  background-color: white;
  padding: 1rem;
  /* border-bottom: 1px solid #b6b6b6; */
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
}

header nav {
  display: grid;
  width: 100%;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  place-content: center flex-start;
  grid-gap: 1rem;
  line-height: 2rem;
  font-size: .8rem;
}

/* sections - general */

section {
  display: grid;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
  min-height: calc(100% - 6.5rem);
  align-self: stretch;
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 6.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: top .3s ease-in-out;
  background: white;
  animation-fill-mode: forwards;
}

.setup,
.result {
  justify-content: center;
  align-content: center;
}

section.hide {
  top: -100%;
  z-index: 1;
}

/* section - setup */

.setup ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  place-content: center center;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.setup ul li {
  cursor: pointer;
  padding: .25rem 1rem;
  background-color: deeppink;
  color: #fff;
  border-radius: 4px;
}

.setup ul li:hover {
  background-color: hotpink;
}

/* section - tiles */

ul.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, calc(33.3333% - 1px)));
  grid-auto-rows: auto;
  grid-gap: 1px;
  width: 100%;
  margin: 0 auto;
  place-content: stretch;
  position: relative;
}

.level-easy ul.tiles {
  grid-template-columns: repeat(2, minmax(50px, 50%));
}

.level-hard ul.tiles {
  grid-template-columns: repeat(4, minmax(50px, 25%));
}

.tiles li {
  display: grid;
  place-content: center;
  font-size: 2rem;
  line-height: 1.4;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 1px rgba(0,0,0,.4);
  overflow: hidden;
  cursor: pointer;
  perspective: 1000px;
}

.tiles li::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='55' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120%2C120 60%2C120 90%2C90 120%2C60 120%2C0 120%2C0 60%2C60 0%2C0 0%2C60 30%2C90 60%2C120 120%2C120 '/%3E%3C/svg%3E");
  box-sizing: border-box;
  background-size: 3rem;
  border: .5rem solid #fff;
  backface-visibility: hidden;
  transition: transform .2s ease-in-out;
}

.tiles li.matched::after {
  content: '';
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 2rem;
}

.tiles li.selected {
  background-color: #fff;
}

/* results */

p.results-text {
  margin-bottom: .5rem;
}

/* animations */

.flip::before {
  transform: rotateY(-180deg);
}

.matched .icon {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;

  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* stars */

.stars span {
  font-size: 2rem;
}

.stars .three::before {
  content: '\01F354 \01F354 \01F354'
}

.stars .two::before {
  content: '\01F354 \01F354'
}

.stars .one::before {
  content: '\01F354'
}

/* icons */

.icon {
  font-size: 5rem;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1vad8d');
  src:  url('fonts/icomoon.eot?1vad8d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1vad8d') format('truetype'),
    url('fonts/icomoon.woff?1vad8d') format('woff'),
    url('fonts/icomoon.svg?1vad8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android::before {
  content: "\e900";
  color: #a4c639;
}
.icon-angular::before {
  content: "\e901";
  color: #dd0031;
}
.icon-apple::before {
  content: "\e902";
  color: #999;
}
.icon-bower::before {
  content: "\e903";
  color: #ef5734;
}
.icon-css3::before {
  content: "\e904";
  color: #1572b6;
}
.icon-github::before {
  content: "\e907";
}
.icon-google::before {
  content: "\e908";
  color: #4285f4;
}
.icon-gulp::before {
  content: "\e909";
  color: #da4648;
}
.icon-html5::before {
  content: "\e90a";
  color: #e34f26;
}
.icon-javascript::before {
  content: "\e90b";
  color: #f7df1e;
}
.icon-npm::before {
  content: "\e90c";
  color: #cb3837;
}
.icon-sass::before {
  content: "\e90d";
  color: #c69;
}
.icon-slack::before {
  content: "\e90e";
  color: #56b68b;
}

.setup {
}